

*
    box-sizing: border-box
    padding: 0
    margin: 0  


    
body
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background: linear-gradient(45deg, #8460ed, #c449bd)

li
    list-style: none
    
a
    text-decoration: none        

.container
    width: 270px
    height: 270px
    display: flex
    justify-content: center
    align-items: center
    position: relative
    &.active .toggle
        transform: rotate(45deg)
    &.active .menu li a
        top: 10%
        transform: translate(-50%, -50%) rotate(calc(-360deg / 6 * var(--i)))
    & .menu
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        li
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            pointer-events: none
            transform: rotate(calc(360deg / 6 * var(--i)))
            a
                width: 55px
                height: 55px
                color: #222
                background: #fff
                border-radius: 50%
                font-size: 20px
                display: flex
                justify-content: center
                align-items: center
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                pointer-events: visible
                transition: 0.3s
                

.toggle
    width: 70px
    height: 70px
    border-radius: 50%
    background: #fff
    color: #222
    display: flex
    justify-content: center
    align-items: center
    font-size: 30px
    cursor: pointer
    z-index: 20
    transition: 0.3s
    